.DS_Store

# 100MB 초과 파일 (GitHub 제한)
2_수업/항공방산후속지원SW설계/기말 프로젝트/DA42NG 메뉴얼_R6(20260407).pdf
2_수업/항공방산후속지원SW설계/기말 프로젝트/DA40NG 메뉴얼_R5(20260330).pdf
2_수업/항공방산후속지원SW설계/기말 프로젝트/ENG 메뉴얼_R32(20260330).pdf
2_수업/항공방산후속지원SW설계/기말 프로젝트/DA40NG&DA42NG 자재정리파일/DA42NG 메뉴얼_R6(20260407).pdf
2_수업/항공방산후속지원SW설계/기말 프로젝트/DA40NG&DA42NG 자재정리파일/DA40NG 메뉴얼_R5(20260330).pdf
2_수업/항공방산후속지원SW설계/기말 프로젝트/DA40NG&DA42NG 자재정리파일/ENG 메뉴얼_R32(20260330).pdf
2_수업/다수이종센서융합sw설계/VSCode_with_OpenCV_intRoLab_v2.zip
1_연구/엔진/553322490-Warren-F-Phillips-Mechanics-of-Flight-2004.pdf
1_연구/엔진/TPE331 제원/692982076-Garrett-TPE-331-10-Maintenance-Manual.pdf
1_연구/엔진/군용엔진관품질인증관련문서모음압축/JSSG-2008.pdf
3_과제/왕복엔진/터빈엔진사이클모델링.zip
3_과제/왕복엔진/터빈엔진사이클모델링/(2024년)(감항인증일반교육자료)제24-1차 감항인증 일반.pdf
